
Flask==3.0.0
flask-cors==4.0.0
Werkzeug==3.0.0

opencv-python==4.8.1.78
opencv-contrib-python==4.8.1.78

pytesseract==0.3.10
easyocr==1.7.0

ultralytics==8.0.196
torch==2.1.0
torchvision==0.16.0

Pillow==10.1.0
numpy==1.24.3

python-dateutil==2.8.2